/*ANIMAÇÃO E HEAD*/
body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background: rgb(255, 217, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height 1s ease-in-out;
}
.logo {
  width: 200px;
  height: 200px;
  transition: width 1s ease-in-out, height 1s ease-in-out;
}
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.kenburns {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: kenburns-top 5s ease-in-out forwards;
}
@keyframes kenburns-top {
  0% {
      transform: scale(1) translateY(0);
      transform-origin: 50% 16%;
  }
  100% {
      transform: scale(1.15) translateY(-30px);
      transform-origin: top;
  }
}

.tracking-in-expand-fwd-top {
	-webkit-animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
 @-webkit-keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
            transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
            transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
/* BUTTON */
.button {
    background-color: #ff6600;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    display: none;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.button:hover {
    background-color: #0d9b14;
}
/* MENU */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background: rgb(255, 251, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  transition: height 1s ease-in-out;
  z-index: 1000;
}

.menu-left, .menu-right {
  display: flex;
  gap: 20px;
}

.menu-left {
  margin-right: auto;
}

.menu-right {
  margin-left: auto;
}

.menu-left a, .menu-right a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.menu-left a:hover, .menu-right a:hover {
  transform: scale(1.1);
}
.menu {
  display: flex;
  gap: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s;
}


