html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  background-color: #8a242473;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background: rgb(255, 251, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 5px;
  transition: height 1s ease-in-out;
  z-index: 1000;
}

.logo {
  width: 10px;
  height: 10px;
  transition: width 1s ease-in-out, height 1s ease-in-out;
  position: relative;
  right: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.kenburns {
  position: sticky;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: kenburns-top 5s ease-in-out forwards;
  z-index: -1;
}

@keyframes kenburns-top {
  0% {
      transform: scale(1) translateY(0);
      transform-origin: 50% 16%;
  }
  100% {
      transform: scale(1.15) translateY(-30px);
      transform-origin: top;
  }
}

/* FONTE HEADER */
@font-face {
  font-family: 'kidsboys';
  src: url(/ESTRUTURA/fonts/KidsBoys.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'kidplay';
  src: url(/ESTRUTURA/fonts/kidplay\ Preview.otf);
  font-weight: normal;
  font-style: normal;
}

/*BOTÃO*/
.button {
  background-color: rgb(44, 206, 29);
  color: #f0f0f0;
  padding: 20px 30px;
  border: none;
  cursor: pointer;
  font-family: 'kidsboys';
  font-size: 16px;
  font-weight: bold;
  border-radius: 25px;
  text-decoration: none;
  display: none;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);
}
.button:hover {
  background-color: rgb(24, 104, 21);
}

/* MENU */
.menu-left, .menu-right {
  display: flex;
  gap: 120px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'kidplay', sans-serif;
  font-size: 22px;

}

.menu-left {
  left: 15%;
}

.menu-right {
  right: 15%;
}

.menu-left a, .menu-right a {
  text-decoration: none;
  color: black;
  font-size: 35px;
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.menu-left a:hover, .menu-right a:hover {
  transform: scale(1.1);
}

/* SEÇÕES */
section {
  height: 1200px;
  width: 1950px;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  background-color: #6b1bac;
}
